body {

    > .__app-wrapper__ {
        width : 100% ;
        height : 100% ;

        display : flex ;
        flex-direction : column ;


        > .header {
            padding : .5rem ;

            background-color : var(--background-color-secondary) ;


            .input {
                padding : .5rem ;

                display : flex ;
                align-items : center ;

                font-size : 1.5rem ;


                > .input-field {
                    max-width : 800px ;
                    width : 100% ;


                    > input {
                        width : 100% ;
                        padding : .1rem .67rem ;

                        line-height : 1.5 ;
                    }

                }

                > .input-submit {

                    > input {
                        padding : .33rem 1rem ;
                    }

                }

            }

        }

        > .main {
            flex-grow : 1 ;

            padding : .5rem ;

            background-color : var(--background-color-primary) ;


            > .todo-entries {
                padding : .5rem ;

                display : flex ;
                flex-direction : column ;
                gap : .5rem ;

                font-size : 1.5rem ;
            }

        }

    }

}

.todo-entry {
    overflow-x : hidden ;

    padding : .5rem 1rem ;

    display : flex ;
    gap : .5rem ;
    align-items : center ;

    background-color : var(--background-color-secondary) ;
    border-radius : var(--radius-sm) ;
    //word-break : break-all ;
    overflow-wrap : break-word ;

    animation-name : expand ;
    animation-duration : .8s ;
    animation-fill-mode : forwards ;


    > .text {
        flex-grow : 1 ;

        font-size : 1.1em ;
    }


    > .drag {
        align-self : stretch ;

        > .icon {
            transform : scale(150%) ;

            height : 100% ;
        }
    }


    > .button {
        align-self : stretch ;

        // The aspect ratio of the button inside (probably) causes the icon to
        // overflow the flex container.
        padding-right : 7.95px ; // to-do : fix this abomination


        > button {
            height : 100% ;
            aspect-ratio : 1/1 ;
            padding : .2rem ;

            background-color : transparent ;
            border : none ;

            > .icon {
                width : 100% ;
                height : 100% ;

                &._normal {
                    display : block ;
                }
                &._hovered {
                    display : none ;
                }
            }

            &:hover > .icon {
                &._normal {
                    display : none ;
                }
                &._hovered {
                    display : block ;
                }
            }
        }

    }

}
