@font-face {
    font-family : 'Outfit' ;
    src : url('./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf') ;
}


:root {
    /* dark theme */
    --color-charcoal-black : #121212 ; /* Primary Background */
    --color-slate-grey : #2C2C2C ; /* Secondary Background */
    --color-light-grey : #E0E0E0 ; /* Primary Text */
    --color-medium-grey : #B0B0B0 ; /* Secondary Text */
    --color-dark-grey : #444444 ; /* Borders/Dividers */
    --color-soft-grey : #888888 ; /* Accent */

    /* muted pastels */
    --color-slate-grey : #2C2C2C ; /* Background */
    --color-light-grey : #E4E4E4 ; /* Primary Text */
    --color-light-cyan : #A8DADC ; /* Secondary Text */
    --color-soft-pink : #FFC1CC ; /* Borders/Dividers */
    --color-lavender : #B39CD0 ; /* Accent */

    --radius-sm : .25rem ;
    --radius-lg : .5rem ;
    --radius-2xl : 1rem ;
}

html {
    height : 100% ;
}

body {
    width : 100% ;
    height : 100% ;

    cursor : default ;

    font-family : 'Outfit', sans-serif ;
    font-optical-sizing : auto ;
    color : var(--font-color) ;
}

body[data-color-theme="light"] {
    --background-color-primary : rgb(248, 248, 248) ;
    --background-color-secondary : rgb(222, 227, 230) ;
    --border-color : rgb(186, 186, 186) ;

    --button-color : transparent ;
    --button-color-inverted : rgb(55, 55, 55) ;

    --font-color : rgb(60, 60, 60) ;
    --font-color-inverted : rgb(228, 228, 228) ;
}
body[data-color-theme="dark"] {
    /* */
}

:is(
    button,
    [type="button"],
    [type="submit"]
):not(:disabled) {
    cursor : pointer ;
}

button,
input {
    color : inherit ;
}

img, svg {
    display : block ;
}

.style-button {
    background-color : var(--button-color) ;
    border : 2px solid var(--border-color) ;
    border-radius : var(--radius-sm) ;

    color : var(--font-color) ;
}
.style-button.inverted {
    background-color : var(--button-color-inverted) ;
    border : none ;

    color : var(--font-color-inverted) ;
}

.style-text-input {
    background-color : var(--button-color) ;
    border : 2px solid var(--border-color) ;
    border-radius : var(--radius-sm) ;

    color : var(--font-color) ;
}
.style-text-input::placeholder {
    font-size : .85em ;
}



@keyframes expand {
    0% {
        width : 0% ;
    }

    100% {
        width : 100% ;
    }
}
